@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #EAF4FC;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #EAF4FC;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-glass {
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
  backdrop-filter: blur(10px); /* Adds blur effect */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle border */
  border-radius: 12px; /* Rounded corners for smooth look */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}
.glassM{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
/* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 2px solid rgba(255, 255, 255, 0.3);}